* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    padding: 100px;
    background-image: url(/assets/image/galaxy-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    .register {
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            width: 40%;

            .input-group-text {
                background-color: rgba(165, 95, 165, 0.664) !important;
                width: 100px;
            }

            .form-control {
                background-color: rgba(165, 95, 165, 0.664) !important;
            }
        }
    }



}