*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-image: url(../image/galaxy-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .input-group-text{
        background-color: rgba(165, 95, 165, 0.664) !important;
        width: 100px;
    }
    .form-control{
        background-color: rgba(165, 95, 165, 0.664) !important;
    }
}